<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
    <link rel="stylesheet" href="Countries.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>

    <div class="header" >
        <div>
            <a href="">
                    <img class="logo" src="/images/logo.png">
            </a>
        </div>
        <div class="search">
            <button>
                <img class="magnifier" src="/images/magnifier.png">
            </button>
            <input type="text" placeholder="Search">
        </div>

    </div>

    <div class="countries">
        <div class="country">
            <p>Russia</p>
            <img src="/images/Countries/Russia.png">
        </div>
        <div class="country">
            <p>Azerbaijan</p>
            <img src="/images/Countries/Azerbaijan.png">
        </div>
        <div class="country">
            <p>Great Britain</p>
            <img src="/images/Countries/UnitedKingdom.png">
        </div>
        <div class="country">
            <p>Germany</p>
            <img src="/images/Countries/Germany.png">
        </div>
        <div class="country">
            <p>Finland</p>
            <img src="/images/Countries/Finland.png">
        </div>
        <div class="country">
            <p>Denmark</p>
            <img src="/images/Countries/Denmark.png">
        </div>
    </div>
</body>
</html>