<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities</title>
    <link rel="stylesheet" href="Cities.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>

    <div class="header" >
        <div>
            <a href="">
                    <img class="logo" src="/images/logo.png">
            </a>
        </div>
        <div class="search">
            <button>
                <img class="magnifier" src="/images/magnifier.png">
            </button>
            <input type="text" placeholder="Search">
        </div>

    </div>


    <div class="cities">
        <div class="city">
            <p>Saint-Petersburg</p>
            <div>
                <div class="info1">
                    <p class="temperature"><span>17</span>°c</p>
                    <p>Rain</p>
                    <img src="/images/Weather/Rain.png">
                </div>
                <div class="wind">
                    <img src="/images/Weather/wind.png">
                    <p class="wind">Wind 11 km/h</p>
                </div>
            </div>
        </div>
        <div class="city">
            <p>Moscow</p>
            <div class="info2">
                <p class="temperature"><span>21</span>°c</p>
                <p>Cloudy</p>
                <img src="/images/Weather/Component 12.png">
            </div>
            <div  class="wind">
                <img src="/images/Weather/wind.png">
                <p>Wind 5 km/h</p>
            </div>
        </div>
        <div class="city">
            <p>Sevastopol</p>
            <div class="info3">
                <p class="temperature"><span>27</span>°c</p>
                <p>Sunny</p>
                <img src="/images/Weather/Component 13.png">
            </div>
            <div class="wind">
                <img src="/images/Weather/wind.png">
                <p>Wind 10 km/h</p>
            </div>
        </div>
    </div>
</body>
</html>