<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="HomePage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>

    <div class="header" >
        <div>
            <a href="">
                    <img class="logo" src="/images/logo.png">
            </a>
        </div>
        <div class="search">
            <button>
                <img class="magnifier" src="/images/magnifier.png">
            </button>
            <input type="text" placeholder="Search">
        </div>

    </div>

    <div class="continents">
        <div class="continent">
            <div class="text">
                <p>Eurasia</p>
                <img src="/images/geolocation.png">
            </div>
            <img class="eurasia" src="/images/Continents/Eurasia.png">
        </div>
        <div class="continent">
            <div class="text">
                <p>North America</p>
                <img src="/images/geolocation.png">
            </div>
            <img class="northAmerica" src="/images/Continents/NorthAmerica.png">
        </div>
        <div class="continent">
            <div class="text">
                <p>South America</p>
                <img src="/images/geolocation.png">
            </div>
            <img class="southAmerica" src="/images/Continents/SouthAmerica.png">
        </div>
        <div class="continent">
            <div class="text">
                <p>Africa</p>
                <img src="/images/geolocation.png">
            </div>
            <img class="africa" src="/images/Continents/Africa.png">
        </div>
        <div class="continent">
            <div class="text">
                <p>Australia</p>
                <img src="/images/geolocation.png">
            </div>
            <img class="australia" src="/images/Continents/Australia.png">
        </div>
    </div>
</body>
</html>