<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="WeatherPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="city">
        <p>Saint-Petersburg</p>
    </div>
    <div class="weather">
        <div class="today">
            <p class="temperature"><span>17</span>°c</p>
            <p>Rain</p>
            <img src="/images/Weather/Rain.png">
            <div class="wind">
                <img src="/images/Weather/wind.png">
                <p>Wind 11 km/h</p>
            </div>
        </div>
        <div class="tomorrow">
            <p class="temperature"><span>16</span>°c</p>
            <p>Rain</p>
            <img src="/images/Weather/Rain.png">
            <div class="wind">
                <img src="/images/Weather/wind.png">
                <p>Wind 13 km/h</p>
            </div>
        </div>
        <div class="dayAfterTomorrow">
            <p class="temperature"><span>20</span>°c</p>
            <p>Cloudy</p>
            <img src="/images/Weather/Cloud.png">
            <div class="wind">
                <img src="/images/Weather/wind.png">
                <p>Wind 8 km/h</p>
            </div>
        </div>
    </div>
    <div class="information">
        <div class="leftPart">
            <div class="UVindex">
                <div class="UV">
                    <img src="/images/Weather/Sun.png">
                    <p>UV index</p> 
                </div>
                <p class="index">Low</p>
            </div>
            <div class="humidity">
                <div class="text-humidity">
                    <img src="/images/Weather/Humidity.png">
                    <p>Humidity</p> 
                </div>
                <p class="percent">83%</p>
            </div>
        </div>
        <div class="rightPart">
            <div class="sunrise">
                <p class="text">Sunrise</p>
                <p class="time">05:48 am</p>
                <img src="/images/Weather/Sunrise.png">
            </div>
            <div class="sunset">
                <p class="text">Sunset</p>
                <p class="time">10:11 pm</p>
                <img src="/images/Weather/Sunset.png">
            </div>
        </div>
    </div>
</body>
</html>